* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: Schoolbell;
    src: url(fonts/Schoolbell-Regular.ttf)
}

body {
    margin: 20px auto 60px auto;
    width: 80%;
    max-width: 1000px;
}
header {
    margin-bottom: 15px;
}
hr {
    color: rgb(193, 193, 193);
}

#page-title, #searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}
#page-title {
    margin: 40px 0px 28px 0px;
}
#searchBar {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: Schoolbell;
    font-size: 10vw;
}
#logo {
    width: 16vw;
    max-width: 112px;
}

#searchBar p {
    color: rgb(135, 135, 135);
}
#searchIcon {
    min-width: 20px;
    max-width: 36px;
    padding-left: 5px;
    border-left: 1px solid rgb(152, 152, 152);
}

main {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 3vw;
    margin-top: 15px;
}
.info p {
    display: none;
}
main img {
    width: 100%;
}
h2 {
    margin-top: 3vh;
    color: rgb(44, 209, 255);
    text-shadow: rgb(155, 155, 155) 1px 1px 1px;
    font-family: Schoolbell;
}

.social, footer a {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.social a img {
    width: 36px;
    margin: 0px 1px 0px 1px;
}

@media screen and (min-width: 675px) {
    #page-title {
    margin-top: 60px;
    }
    main img {
        min-width: 300px;
        max-width: 450px;
        padding-right: 2vw;
    }
    .info p {
        margin-top: 3vw;
        display: block;
    }
    .info {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
    }
    main {
        display: flex;
        padding: 20px;
    }
    footer {
        display: flex;
        justify-content: space-between;
        flex-flow: row-reverse nowrap;
        align-items: center;
    }
    h1 {
        font-size: 60px;
    }
    .button {
        width: 80px;
        height: 30px;
        font-size: 1.1em;
    }
}