*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: white;
}

body {
    background: lightgray;
}

header {
    background: rgb(86, 92, 255);
    width: 100%;
}

main p {
    color: black;
    font-size: 1.2em;
    padding-top: 10px;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 80vw;
    width: min-content;
    margin: auto;
}

img {
    border: solid 5px white;
    box-shadow: black 2px 2px 6px;
    object-fit: cover;
    width: 70vw;
    height: 70vw;
    margin: auto;
}

h1 {
    font-weight: lighter;
    padding-top: 10px;
}

.menu-btn {
    all: unset;
    padding: 5px 0;
}

.hide {
    display: none;
}
nav a {
    padding: 8px;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    border-top: 1px solid white;
}

nav a:hover, .menu-btn:hover {
    color: rgb(220, 220, 220);
    font-size: 1.2em;
}

footer {
    background: rgb(86, 92, 255);
    width: 100%;
    padding: 5px;
    font-size: 0.8em;
}

dialog img {
    width: 80vw;
    height: 40vh;
    display: block;
    max-width: 700px;
    max-height: 600px;
    border: none;
}
dialog {
    width: 100vw;
    height: 100vh;
    border: none;
    background-color: rgba(0,0,0,.75);
    max-width: none;
    max-height: none;
    align-content: center;
}

.close-viewer {
    position: absolute;
    top: 3vh;
    right: 3vh;
    padding: 3px 6px;
    font-size: 1.5em;
    color: white;
    background: none;
    border: none;
}

@media screen and (min-width: 350px) {
    section {
        grid-auto-rows: 300px;
    }
    img {
        width: 250px;
        height: 250px;
    }
    dialog img {
        height: 50vh;
    }
}
@media screen and (min-width: 650px) {
    section {
        grid-template-columns: 300px 300px;
    }
    dialog img {
        height: 70vh;
    }
}
@media screen and (min-width: 1000px) {
    section {
        grid-template-columns: 300px 300px 300px;
    }
    .menu-btn {
        display: none;
    }
    nav {
        display: block;
    }
    nav a{
        padding: 12px;
        text-decoration: none;
        text-align: none;
        border-top: none;
        display: inline;
    }
    .hide {
        display: inline-block;
    }
    dialog img {
        height: 80vh;
    }
}