form {
    display: grid;
    width: 500px;
    grid-template-columns: 100px 300px 100px;
    grid-template-rows: 60px 180px 60px 60px;
    margin: 60px auto auto auto;
}
#front-card {
    display: grid;
    grid-area: 1/1/3/3;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 8px;
    width: 400px;
    height: 240px;
    box-sizing: border-box;
    padding: 5px 30px 5px 30px;
    text-align: left;
    background: rgb(213, 213, 213);
    z-index: 1;
    box-shadow: rgb(37, 37, 37) 2px 2px 3px;
}
#card-number {
    grid-area: 2/1/3/2;
}
#card-holder {
    grid-area: 3/1/4/2;
}
#cardExpiration {
    grid-area: 3/2/4/3;
    text-align: right;
}
#cardExpiration input {
    text-align: center;
    width: 40px;
    height: 25px;
}
#card-number input, #card-holder input {
    height: 25px;
    width: 200px;
}
#image {
    text-align: right;
    font-size: 40px;
    height: 50px; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#total {
    align-self:center;
}
#back-card {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1.75fr .5fr 1.75fr;
    grid-area: 2/2/3/3;
    width: 400px;
    height: 240px;
    border-radius: 8px;
    padding: 15px 0px 15px 0px;
    box-sizing: border-box;
    background: rgb(213, 213, 213);
    box-shadow: rgb(37, 37, 37) 2px 2px 3px;
}
#bar {
    grid-area: 1/2/2/3;
    border-top: 50px solid black;
}
#verification-code {
    text-align: right;
    grid-area: 3/2/4/3;
    padding-right: 15px;
}
#verification-code input {
    width: 60px;
    height: 25px;
}
#submit {
    grid-area: 4/3/5/4;
    box-sizing: border-box;
    height: 36px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:rgb(37, 37, 37) 2px 2px 3px;
    margin-top: 15px;
}
h2 {
    margin: auto;
    text-align: center;
    align-content: center;
    height: 60px;
    width: 300px;
    background: rgb(28, 177, 28);
    color: white;
}
.errors {
    display: none;
    margin: auto;
    align-content: center;
    text-align: center;
    height: 40px;
    width: 200px;
    background: rgb(194, 15, 15);
    color: white;
}